{% extends "base.html" %}

{% block title %}
   Create table
{% endblock %}

{% block content %}
<style>
.input-wrapper div {
    margin-bottom: 10px;
}
.add-input {
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: text-bottom;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

   <div class="container">
      <br/>
      <h1>Create table</h1>
      <br/>
      <form  method="POST" class="form" style="color:white">
        <div class="input-wrapper">
            <div>Table name: <br/>
                <input type="text" name="table_name" placeholder="name"/>
                <br>
            </div>
            <div>Attributes: <br/>
                <input type="text" name="attr_name" placeholder="attr name"/>
                <select name="attr_type">
                    <option>str</option>
                    <option>int</option>
                    <option>float</option>
                    <option>char</option>
                    <option>money</option>
                    <option>lnvl_money</option>
                </select>
                <a href="javascript:void(0);" class="add-input" title="Add input">
                    <img src="/static/plus.png" width="30" height="30"/></a>
            </div>
        </div>
          <button class="btn btn-lg btn-primary" type="submit">Submit</button>
      </form>
   </div>

<script>
$(document).ready(function(){
    var max_input_fields = 10;
    var add_input = $('.add-input');
    var input_wrapper = $('.input-wrapper');
    var new_input = '<div><input  placeholder="attr name" type="text" name="attr_name"/>' +
        '               <select name="attr_type">\n' +
        '                    <option>str</option>\n' +
        '                    <option>int</option>\n' +
        '                    <option>float</option>\n' +
        '                    <option>char</option>\n' +
        '                    <option>money</option>\n' +
        '                    <option>lnvl_money</option>\n' +
        '                </select></div>';
    var add_input_count = 1;
    $(add_input).click(function(){
        if(add_input_count < max_input_fields){
            add_input_count++;
                $(input_wrapper).append(new_input);
        }
    });
});
</script>

{% endblock %}