{% extends "base.html" %}

{% block title %}
   Create row
{% endblock %}

{% block content %}
    {% if error_statement%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{error_statement}}
        </div>
    {% endif %}

   <div class="container">
      <br/>
      <h1>Create row </h1>
      <br/>
      <form  method="POST" class="form" style="color:white">
        <div class="input-wrapper">
           {%for attr in context_attrs%}
             {% if attr["name"] != "id" %}
               <div>{{attr["name"]}}: <br/>
                   <input class="form-control" type="text" name="{{attr["name"]}}" placeholder="{{attr["type"]}}"/>
                   <br>
               </div>
             {% endif %}
           {% endfor %}
        </div>
          <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
         <br/>
      </form>
   </div>

{% endblock %}