{% extends "base.html" %}

{% block title %}
   Update row
{% endblock %}

{% block content %}
{% if error_statement%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{error_statement}}
        </div>
    {% endif %}

   <div class="container">
      <br/>
      <h1>Update row </h1>
      <br/>
      <form  method="POST" class="form" style="color:white">
        <div class="input-wrapper">
           {%for cell in context_row.cells%}
             {% if cell.name_attr != "id" %}
               <div>{{cell.name_attr}}: <br/>
                   <input class="form-control" value="{{cell.val}}" type="text" name="{{cell.name_attr}}"/>
                   <br>
               </div>
             {% endif %}
           {% endfor %}
        </div>
          <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
         <br/>
      </form>
   </div>

{% endblock %}